<div style="background: #E7EBF2;min-height: 1500px;">
  <div class="web-welcome">
    <div class="big-logo">
      <div> Chaaaat </div>
    </div>
    <div class="web-description">
      Unlimited Chaaaat!!!!!!!!.
    </div>
  </div>

  <div class="signin-form-holder">
    <%= form_tag sessions_path ,class: "login-form" do %>
      <%= text_field_tag :email,nil ,placeholder: "Email" %>
      <%= password_field_tag :password %>
      <%= submit_tag "Sign in", class: "btn btn-large btn-primary" %>
    <% end %>
    <div class="authen-btns">
      <p><%= link_to "Join now!",signup_path,:class => "blue-btn" %></p>
    </div>
  </div>
</div>
