<%= form_for @user,:html => {:multipart => true,:class => "web-form"} do |f| %>
  <div class="field">
    <%= f.label :username %>
    <%= f.text_field :username %>
  </div>
  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  <% if !signed_in? %>
    <div class="field">
      <label> Password </label>
      <%= f.password_field :password %>
    </div>
    <div class="field">
      <label> Confirmation </label>
      <%= f.password_field :password_confirmation %>
    </div>
  <% end %>
  <div class="field avatar-frame">
    <%= f.label :avatar %>
    <img src='/assets/<%= @user.avatar_url %>'>
    <input type='file' name='user[avatar]' onchange="readURL(this)">
  </div>
  <div class="field">
    <%= f.label :gender %>
    <%= f.select :gender,["Male","Female","Gay"] %>
  </div>
  <div class="field">
    <%= f.label :location %>
    <%= f.text_field :location %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

