<ul style="list-style: none">
<% User.all.each do |u| %>
  <% if !room.is_member?(u.id) %>
    <li id="user-list-room-<%= room.id %>-<%= u.id %>">
        <%= image_tag u.avatar.url %>
        <%= u.name %>
      <a onclick="call_on_room_add_member(<%= u.id %>,<%= room.id %>)">
        Add
      </a>
    </li>
  <% end %>
<% end %>
