<ul style="list-style: none" class="user-in-room">
  <% room.members.each do |u| %>
      <li id="user-in-room-<%= room.id %>-<%= u.id %>">
          <%= image_tag u.avatar.url %>
          <%= u.name %>
          <% if room.is_owner?(u.id) %>
            - <strong>"Owner"</strong>
          <% elsif room.is_admin?(u.id) %>
            <% if room.is_owner?(current_user.id) %>
              <a onclick="call_on_room_toggle_admin(<%= u.id %>,<%= room.id %>)" class="admin-btn">
                <strong>Remove Admin</strong>
              </a>
            <% else %>
              - <strong>"Admin"</strong>
            <% end %>
          <% end %>
          <% if room.is_owner?(current_user.id) && current_user.id != u.id && !room.is_admin?(u.id) %>
            <a onclick="call_on_room_toggle_admin(<%= u.id %>,<%= room.id %>)" class="admin-btn">
              <strong>Make Admin</strong>
            </a>
          <% end %>
          <% if current_user.id != u.id && room.is_admin?(current_user.id) && !room.is_owner?(u.id) %>
            <a onclick="call_on_room_remove_member(<%= u.id %>,<%= room.id %>)">
              Kick out
            </a>
          <% end %>
      </li>
  <%  end %>
</ul>
