<h1>Listing rooms</h1>

<table>
  <strong> Unseen Messages: <%= @unseens.count %></strong>
  <% @rooms.each do |room| %>
  <tr>
    <td><%= room.name %>
    <% if current_user.unseen_messages_in_room(room.id).count > 0  %>
      <strong>(<%= current_user.unseen_messages_in_room(room.id).count %>)</strong></td>
    <% end %>
    <td><%= link_to 'Show', room %></td>
    <td><%= link_to 'Edit', edit_room_path(room) %></td>
    <td><%= link_to 'Destroy', room, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  <td class="last-message">
    <% if current_user.unseen_messages_in_room(room.id).count > 0 %>
      <%= simple_format(current_user.unseen_messages_in_room(room.id).last.content) %>
    <% end %>
  </td>
  </tr>
<% end %>
</table>

<%= render :partial => 'users_list' %>

<%= link_to 'New Room', new_room_path %>

<style type="text/css">
  li img {
    height: 50px;
    width: 50px;
  }
</style>
