<div id="unseen-cnt">
<%= @unseens.count %>
</div>
<div style="height: 300px;overflow-x:hidden;overflow-y:scroll" id="chat-holder">
<ul id="chat" style="list-style: none">
  <%= render @messages if @messages%>
</ul>
</div>

<ul style="list-style: none" class="users-in-room">
  <%= render :partial => 'user_in_room', :collection => @room.members,locals: {room: @room} %>
</ul>

<%= form_for Message.new, :remote => true do |f| %>
  <%= f.cktext_area :content,:ckeditor => {:height => 200,:width => 650,:resize_enabled => false} %>
  <%= f.hidden_field :room_id,value: @room.id %>
  <%= f.hidden_field :sent_id,value: current_user.id %>
  <%= f.submit "Send" %>
<% end %>

<% if @room.is_admin?(current_user.id)  %>
  <ul style="list-style: none" class="users-select">
    <%= render :partial => 'user_select', :collection => User.all,locals: {room: @room} %>
  </ul>
<% end %>

<script type="text/javascript">
$subcriber(<%= @room.id %>);
$subcriber.cuid = <%= current_user.id %>;
$(document).ready(function() {
  $("#chat-holder").scrollTop($("#chat-holder ul").height() + 100);
  window.unseen_message = window.unseen_message == undefined ? [] : window.unseen_message;
  <% if @unseens.count > 0 %>
      window.unseen_message[<%= @room.id %>] = true;
  <% else %>
      window.unseen_message[<%= @room.id %>] = false;
  <% end %>
  $('body').mousemove(function(e) {
    if(window.unseen_message[<%= @room.id %>]) {
      window.unseen_message[<%= @room.id %>] = false;
      $.ajax({
        dataType: 'script',
        type: 'get',
        url: '/users/change_read_status' ,
        data: {room_id: <%= @room.id%>},
        success : function() {
        }
      });
    }
  });
  CKEDITOR.instances.message_content.on( 'key', function( event ) {
    if ( event.data.keyCode == 13 ) {
      event.cancel();
      $("input[name='commit']").click();
    }
  });
  CKEDITOR.instances.message_content.setData("");
})
</script>

<style type="text/css">
  li img {
    height: 50px;
    width: 50px;
  }
  li {
    position: relative;
    display: block;
    content: "";
  }
  li.unseen {
    background-color: #f4f6f9 !important;
  }
  li.not-in-room {
    background-color: #f4f6f9 !important;
  }
  li.in-room {
    background-color: white !important;
  }
  li.seen {
    background-color: white !important;
  }
</style>
