<div style="height: 300px;overflow-x:hidden;overflow-y:scroll">
<ul id="chat" style="list-style: none">
  <%= render @messages if @messages%>
</ul>
</div>

<%= form_for Message.new, :remote => true do |f| %>
  <%= f.cktext_area :content,:ckeditor => {:height => 200,:width => 650,:resize_enabled => false} %>
  <%= f.hidden_field :room_id,value: @room.id %>
  <%= f.hidden_field :sent_id,value: current_user.id %>
  <%= f.submit "Send" %>
<% end %>

<script type="text/javascript">
$subcriber(<%= @room.id %>);
CKEDITOR.config.toolbar = [
   ['Styles','Font','FontSize'],
   ['Bold','Italic','Underline','StrikeThrough','-','TextColor'],
   ['NumberedList','BulletedList','-','JustifyLeft','JustifyCenter','JustifyRight','JustifyBlock'],
   ['Smiley']
] ;
CKEDITOR.config.removePlugins = 'elementspath';
CKEDITOR.instances.message_content.on( 'key', function( event ) {
  if ( event.data.keyCode == 13 ) {
    event.cancel();
    $("input[name='commit']").click();
  }
});
</script>

<style type="text/css">
  li img {
    height: 50px;
    width: 50px;
  }
  li {
    position: relative;
    display: block;
    content: "";
  }
</style>
